.root {
     -fx-background-image: url("psg.jpg");
}

Label{
	 -fx-font-weight: bold;
    -fx-font-size: 17px;
    -fx-text-fill: rgba(255, 128, 0, 1);
}

.btn{
 -fx-background-color: rgba(255,255,255,0.8);
    -fx-background-radius: 10;
    -fx-background-insets: 0,1,2,3,0;
    
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-padding: 10 10 10 10;
}

.btn:hover{
     -fx-background-color: 
       
        linear-gradient(from 0% 0% to 50% 50%, rgba(255,255,255,0.3), rgba(255,128,0,0.6));
}