.root {
     -fx-background-image: url("psg2.jpg");
     /*   -fx-background-size: 1000 600;*/
}
.addplayer{
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.playertable{
	 
	 -fx-background-color: rgba(255,255,255,0.95);
    
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: rgba(255, 128, 0, 1);
    -fx-prompt-text-fill: rgba(255, 128, 0, 0.9);
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-padding: 10 10 10 10;
     
}

.idcolumn{
	
    -fx-text-fill: rgba(255, 128, 0, 1);
    -fx-font-size: 15px;
    -fx-text-alignment: center;
}

.namecolumn{
	 -fx-text-fill: rgba(255, 128, 0, 1);
    -fx-font-size: 15px;
}

.poscolumn{
	  -fx-text-fill: rgba(255, 128, 0, 1);
    -fx-font-size: 15px;
}

.agecolumn{
	  -fx-text-fill: rgba(255, 128, 0, 1);
    -fx-font-size: 15px;
}

.heightcolumn{
	  -fx-text-fill: rgba(255, 128, 0, 1);
    -fx-font-size: 15px;
}

.weightcolumn{
	  -fx-text-fill: rgba(255, 128, 0, 1);
    -fx-font-size: 15px;
}

.nationcolumn{
	  -fx-text-fill: rgba(255, 128, 0, 1);
    -fx-font-size: 15px;
}

.appcolumn{
	  -fx-text-fill: rgba(255, 128, 0, 0.8);
    -fx-font-size: 15px;
    -fx-text-alignment: center;
}

.vbox{
	 -fx-background-color: rgba(255,255,255,0);
}

.addentry{
 
    -fx-background-radius: 5;
    -fx-background-insets: 0,1,2,3,0;
     -fx-text-fill: rgba(255, 128, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-padding: 10 10 10 10;
}

.addentry:hover{
    -fx-background-color: 
       
        linear-gradient(from 0% 0% to 50% 50%, rgba(255,255,255,0.3), rgba(255,128,0,0.6));
}

.clear{
 
    -fx-background-radius: 5;
    -fx-background-insets: 0,1,2,3,0;
     -fx-text-fill: rgba(255, 128, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-padding: 10 10 10 10;
}

.clear:hover{
   -fx-background-color: 
       
        linear-gradient(from 0% 0% to 50% 50%, rgba(255,255,255,0.3), rgba(255,128,0,0.6));
}

.load{
 
    -fx-background-radius: 5;
    -fx-background-insets: 0,1,2,3,0;
     -fx-text-fill: rgba(255, 128, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-padding: 10 10 10 10;
}

.load:hover{
   -fx-background-color: 
       
        linear-gradient(from 0% 0% to 50% 50%, rgba(255,255,255,0.3), rgba(255,128,0,0.6));
}

TextField{
	 -fx-background-color: rgba(255,255,255,0.9);
    -fx-background-radius: 10;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: rgba(255, 128, 0, 0.8);
    -fx-prompt-text-fill: rgba(255, 128, 0, 0.8);
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-padding: 10 10 10 10;
}
